In [1]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.34'

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (16,8)

In [3]:
import FinanceDataReader as fdr

# KB Finance(105560)
df = fdr.DataReader('105560', '2017-01-01', '2017-12-31')
df.head(15)

             Open   High    Low  Close   Volume    Change
Date
2017-01-02  42800  43050  42250  42600   345769 -0.004673
2017-01-03  42600  43750  42000  43700   956685  0.025822
2017-01-04  43900  44400  43450  44150   831295  0.010297
2017-01-05  44200  44200  42550  42800  1128957 -0.030578
2017-01-06  43000  43000  42300  42650  1338299 -0.003505
2017-01-09  42650  42700  42150  42400   795293 -0.005862
2017-01-10  43000  43400  42650  43250  1093427  0.020047
2017-01-11  42700  43700  42700  43350   912080  0.002312
2017-01-12  43600  44100  43350  44100  1011997  0.017301
2017-01-13  43500  44300  43400  43850   861598 -0.005669
2017-01-16  44100  45250  43950  45150  1474423  0.029647
2017-01-17  45300  46100  45100  45850  1222286  0.015504
2017-01-18  45400  46000  45100  45800   611897 -0.001091
2017-01-19  45400  46200  45400  45550   467486 -0.005459
2017-01-20  45300  45850  45300  45400   587244 -0.003293

In [35]:
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method='\
            'download&searchType=13'
krx = pd.read_html(url, header=0)[0]
krx = krx[['종목코드', '회사명']]
krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
krx.code = krx.code.map('{:06d}'.format)

In [36]:
krx.code

0       000210
1       004840
2       155660
3       078930
4       294870
         ...
2531    169670
2532    318660
2533    222670
2534    331660
2535    212310
Name: code, Length: 2536, dtype: object

In [4]:
df_krx = fdr.StockListing('KRX')
tiker_list = list(df_krx.Symbol)

In [6]:
len(tiker_list)

7029

In [10]:
tiker_list[0]

'060310'

In [7]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,105190,KOSPI,ACE 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,332500,KOSPI,ACE 200TR,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,385590,KOSPI,ACE ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,380340,KOSPI,ACE Fn5G플러스,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
035420

In [8]:
import pandas as pd

In [20]:
df_krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,105190,KOSPI,ACE 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,332500,KOSPI,ACE 200TR,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,385590,KOSPI,ACE ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,380340,KOSPI,ACE Fn5G플러스,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7024,435550,KOSPI,히어로즈 TDF2050액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7025,437550,KOSPI,히어로즈 글로벌리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7026,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7027,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7028,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [26]:
kospi_index = df_krx.index[df_krx['Market'] == "KOSDAQ"].tolist()

In [29]:
naver_index = df_krx.index[df_krx['Symbol'] == '035420'].tolist()

In [30]:
len(naver_index)

1

In [31]:
naver_index

[1334]

###  공부를 해야 한다. 
맞아. 맞아. 그래야 하지.

In [34]:
df_krx.iloc[1334]

Symbol                                      035420
Market                                       KOSPI
Name                                         NAVER
Sector            자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업
Industry                           포털 서비스 및 온라인 광고
ListingDate                    2008-11-28 00:00:00
SettleMonth                                    12월
Representative                                 최수연
HomePage                  http://www.navercorp.com
Region                                         경기도
Name: 1334, dtype: object

In [12]:
fdr.DataReader(tiker_list[0], '2010-01-01', '2018-12-28')['Volume']

Date
2010-01-04    1137353
2010-01-05     744091
2010-01-06     410717
2010-01-07    1138507
2010-01-08     480875
               ...
2018-12-21      86462
2018-12-24     143660
2018-12-26     284542
2018-12-27      99550
2018-12-28      49523
Name: Volume, Length: 2220, dtype: int64

In [13]:
df_list_volume = [fdr.DataReader(ticker, '2010-01-01', '2018-12-28')['Volume'] for ticker in tiker_list]

KeyError: 'Volume'

In [14]:
tiker_list[0]

'060310'

In [ ]:
naver_symbol = krx_data.loc[krx_data.Name == 'NAVER', ['Symbol']].values[0][0]

In [18]:
df_current = fdr.DataReader(tiker_list[1], '2005', '2022')

In [19]:
df_current

             Open   High    Low  Close  Volume    Change
Date
2008-09-25  15487  15631  15487  15598   80757       NaN
2008-09-26  15482  15634  15309  15368  170096 -0.014745
2008-09-29  15473  15579  15103  15161  145529 -0.013470
2008-09-30  14345  15079  14345  15085  114890 -0.005013
2008-10-01  15079  15079  14838  15005   78415 -0.005303
...           ...    ...    ...    ...     ...       ...
2021-12-24  39417  39760  39417  39584  453946  0.007098
2021-12-27  39721  39721  39378  39378  151942 -0.005204
2021-12-28  39520  39657  39250  39658  198839  0.007111
2021-12-29  39746  39927  39652  39668  271462  0.000252
2021-12-30  39790  39824  39363  39535  376464 -0.003353

[3282 rows x 6 columns]